{
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 6
    },
    "rules": {
        "no-console": false
    },
    "env": {
        "browser": true,
        "jquery": true,
        "commonjs": true,
        "es6": true
    },
    "parser": "babel-eslint"
}
