html {
  background: white;
  color: #011936;
}
html body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  padding: 2em;
}
html body strong, html body b {
  font-weight: 700;
}
html body h1, html body h2, html body h3, html body h4, html body h5, html body h6 {
  font-weight: 700;
}
html body a {
  color: #011936;
  border-style: none none dashed none;
  border-color: #011936;
  border-width: 1px;
  text-decoration: none;
  transition: all 200ms;
}
html body a:hover {
  color: #ed254e;
  border-color: #ed254e;
}
html body h1 {
  display: block;
  color: #011936;
  border-style: none none solid none;
  border-color: #ed254e;
  border-width: 2px;
  padding-bottom: 0.2em;
}
html body h2 {
  color: #ed254e;
  border-style: none none solid none;
  border-color: #011936;
  border-width: 1px;
  padding-bottom: 0.2em;
}
html body h3 {
  color: #ed254e;
  font-style: italic;
  border-style: none none solid none;
  border-color: #f9dc5c;
  border-width: 1px;
  padding-bottom: 0.2em;
}
html body h4 {
  color: #ed254e;
  font-style: italic;
}
html body code {
  font-family: "Inconsolata", monospace;
  display: inline-block;
  background: #c2eabd;
  padding: 2px 4px;
  border-radius: 2px;
  font-weight: 400;
}
