// editor colors
$onColor: #00ff00;
$offColor: #ff0000;
$unknownColor: #8b8b8b;
$oscillatingColor: #0000ff;

// ui colors
$light: #c2eabd;
$dark: #011936;
$lightColor: #f9dc5c;
$darkColor: #ed254e;

// docs colors
$green: #c2eabd;
$darkBlue: #011936;
$yellow: #f9dc5c;
$red: #ed254e;
$lightBackground: white;
$darkText: $darkBlue;
