#canvas {
    flex: 1;

    .box {
        cursor: pointer;
        cursor: hand;
    }

    .connector {
        cursor: pointer;
        cursor: hand;

        &.stateOn {
            fill: $onColor;
        }
        &.stateOff {
            fill: $offColor;
        }
        &.stateUnknown {
            fill: $unknownColor;
        }
        &.stateOscillating {
            fill: $oscillatingColor;
        }

        &:hover {
            fill: yellow;
        }
    }

    .wire {
        &.stateOn {
            stroke: $onColor;
        }
        &.stateOff {
            stroke: $offColor;
        }
        &.stateUnknown {
            stroke: $unknownColor;
        }
        &.stateOscillating {
            stroke: $oscillatingColor;
        }
    }
}
