$light: #c2eabd;
$dark: #011936;
$lightColor: #f9dc5c;
$darkColor: #ed254e;

$uiItemHeight: 1.3em;
$transitionTime: 200ms;
$transitionAll: all $transitionTime;

#help {
    position: absolute;
    z-index: 1500;

    right: 3em;
    bottom: 3em;

    padding: 1em;

    background: $light;

    color: $dark;

    display:none;
    opacity:0;

    transition: opacity 1s;

    .helpWindowItem {
        line-height: 1.2em;

        img.helpicon {
            height: 1.3em;
            margin: -0.3em;
        }
    }

    &.visible {
        display: block;
        opacity: 1;
    }
}
/*
.mouseIcon {
    path {
        fill: $dark;
    }

    &.blinkLeft {
        .left {
            animation: pulsate 1s linear infinite;
        }
    }
    &.blinkRight {
        .right {
            animation: pulsate 1s linear infinite;
        }
    }
    &.blinkMiddle {
        .middle {
            animation: pulsate 1s linear infinite;
        }
    }
}

@keyframes pulsate {
    0% {fill: $dark
    }
    40% {fill: $darkColor
    }
    80% {fill: $dark
    }
    100% {fill: $dark
    }
}*/

/// FLOATING MENU
#floatingMenu {
    z-index:900;
    position: absolute;
    right: 0;
    bottom: 0;
    display:block;

    .button {
        display:inline-block;
        background: $light;

        width: $uiItemHeight;
        height: $uiItemHeight;

        margin: 0 0.5em 0.5em 0;
        transition: $transitionAll;

        cursor: pointer;
        cursor: hand;

        color: black;

        img {
            width: 100%;
            height: 100%;
        }

        /*
        &.closefullscreen {
            display: none;
        }
        */

        &:hover {
            background: $lightColor;
        }

        &:active {
            background: $darkColor;
        }
    }

    &.fulscreenMode .button {
        &.closefullscreen {
            display: inline-block;
        }
        &.fullscreen {
            display:none;
        }
    }
}

/// CONTEXT MENU
$contextMenuPadding: 0.3em;
$menuItemHeight: $uiItemHeight;
$menuItemWidth: 10em;

#contextMenu, #contextMenu ul {
    z-index: 1000;
    position: absolute;

    background: $light;

    //border: 1px solid #424655;
    //background: lightgoldenrodyellow;
    //border-radius: 2px;
}
#contextMenu {
    display: none;

    width: $menuItemWidth;

    margin: 0;
    padding: $contextMenuPadding 0;

    color: $dark;

    li {
        list-style-type: none;

        margin: 0;
        padding: 0.1em $contextMenuPadding;

        cursor: pointer;
        cursor: hand;

        display:block;

        height: $menuItemHeight;

        transition: $transitionAll;

        > ul {
            display: none;
            position: relative;
            left: ($menuItemWidth - $contextMenuPadding);

            margin: (-1em - (2 * $contextMenuPadding)) 0 0 0;
            padding: $contextMenuPadding 0;
        }

        &.gateOnly {
            display: none;
        }

        &:hover {
            background: $lightColor;

            > ul {
                display:block;
            }
        }

        &:active {
            background: $darkColor;
        }
    }
}

#jsonExport {
    padding: 1em;

    background:white;
    color:black;

    pre {
        font-family: 'Overpass Mono', monospace;

        overflow-y: auto;
        max-height: 50vh;
        width: 40em;
        max-width: 90vw;
        font-size: 0.9em;
    }

    a.download {
        font-weight: bold;
        display:inline-block;

        margin:0.2em;
        padding: 0.4em;

        text-decoration: none;
        color: $dark;
        background: $light;

        img {
            height: 1.2em;
            width: auto;
            vertical-align: bottom;
        }

        &:hover {
            background: $lightColor;
        }
    }
}