@import "lib/normalize";

@include normalize();

/*//////////////////////////////////////*/

$onColor: #00ff00;
$offColor: #ff0000;
$unknownColor: #8b8b8b;
$oscillatingColor: #0000ff;

/*//////////////////////////////////////*/

body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    height: 100vh;
    margin: 0;
}

#canvas {
    flex: 1;
}

@import "ui";
@import "svg";