@import "lib/normalize";
@include normalize();

@import "lib/forkAwesome";

@import "colors";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

#canvas {
    flex: 1;
}

@import "ui";
@import "svg";
@import "tutorial";

.grabbable {
    cursor: grab !important;
}

.grabbed {
    cursor: grabbing !important;
}

.hidden {
    display: none !important;
}
