@import "lib/normalize";
@include normalize();

@import "colors";

body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    height: 100vh;
    margin: 0;
}

#canvas {
    flex: 1;
}

@import "ui";
@import "svg";

.grabbable {
    cursor: grab !important;
}

.grabbed {
    cursor: grabbing !important;
}
